affine==2.2.2
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
coverage==4.5.2
entrypoints==0.3
flake8==3.7.5
flake8-pep257==1.0.5
geographiclib==1.49
geopy==1.18.1
idna==2.8
mccabe==0.6.1
numpy==1.16.0
pandas==0.23.4
pep257==0.7.0
pkg-resources==0.0.0
pybuilder==0.11.17
pycodestyle==2.5.0
pyflakes==2.1.0
pypandoc==1.3.3
pyparsing==2.3.1
pyproj==1.9.6
python-dateutil==2.7.5
pytz==2018.9
rasterio==1.0.18
requests==2.21.0
six==1.12.0
snuggs==1.4.2
tailer==0.4.1
tblib==1.3.2
unittest-xml-reporting==2.2.1
urllib3==1.26.5
affine==2.2.2
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
coverage==4.5.2
entrypoints==0.3
flake8==3.7.5
flake8-pep257==1.0.5
geographiclib==1.49
geopy==1.18.1
idna==2.8
mccabe==0.6.1
mock==2.0.0
numpy==1.16.0
pandas==0.23.4
pbr==5.1.2
pep257==0.7.0
pkg-resources==0.0.0
pybuilder==0.11.17
pycodestyle==2.5.0
pyflakes==2.1.0
pypandoc==1.3.3
pyparsing==2.3.1
pyproj==1.9.6
python-dateutil==2.7.5
pytz==2018.9
rasterio==1.0.18
requests==2.21.0
six==1.12.0
snuggs==1.4.2
tailer==0.4.1
tblib==1.3.2
unittest-xml-reporting==2.2.1
urllib3==1.26.5
